extends layout

block content
  div.header node中转后台
  div.user
    span.user-name 您好！#{username}
    a.exit(href='/admin/exit') 退出
  div.content
    div.sidebar
      ul.module-list
        each item, index in groupList
          li.module-item(onclick='changeList("' + item.groupId + '","' + index + '")') #{item.groupName}
            span.module-arrow →

      div.module-add(onclick='addItem()') +

      div.sidebar-footer
        div.build(onclick='build()') 生成
        div.release(onclick='release()') 发布
    div.context
      iframe.context-iframe(src='./admin/urlList/0')

  script(src='/lib/jquery.min.js')
  script(src='/lib/cookie.js')
  script(src='/javascripts/index.js')