extends layout

block content
  div.header node中转后台

  div.content
    div.sidebar
      ul.module-list
        each item in groupList
          li.module-item(onclick='changeList("' + item.groupId + '")') #{item.groupName}

      div.module-add(onclick='addItem()') +

    div.context
      iframe.context-iframe(src='./admin/urlList/0')

  script(src='/lib/jquery.min.js')
  script(src='/lib/cookie.js')
  script(src='/javascripts/index.js')