* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100px;
    height: 100%;
}

.content {
    position: absolute;
    width: 400px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    text-align: center;
}

h2 {
    margin: 80px 0 50px 0;
}

.submit {
    float: left;
    color: #fff;
    font-size: 16px;
    margin: 0 20px 0 99px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    background: #337ab7;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.cancle {
    float: left;
    color: #fff;
    font-size: 16px;
    margin: 0 99px 0 20px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    background: #d9534f;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}