doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/restartConfirm.css')
  body
    div.content
      form(method='post', action=('/admin/restart'))
        h2  您确认要发布吗
        div.submit(onclick='submit()') 确认
        div.cancle(onclick='back()') 取消

    script(src='/lib/jquery.min.js')
    script(src='/javascripts/public.js')